---

extends: default

rules:
  line-length:
    max: 300
    level: warning
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  quoted-strings:
    required: only-when-needed
    quote-type: double
    extra-required: ["{{.*}}"]

ignore: |
  .cache
  ext
