{# vim: set sw=2 #}
{
  "Profiles": [
    {
      {% set color_template  ="files/" + terminal__color_profile + '.json' %}
      {% include color_template ignore missing %}
      "ASCII Anti Aliased": true,
      "ASCII Ligatures": true,
      "Allow Title Reporting": true,
      "Allow Title Setting": true,
      "Ambiguous Double Width": false,
      "Bound Hosts": {{ terminal__bound_hosts | list | to_json }},
      "Character Encoding": 4,
      "Close Sessions On End": true,
      "Columns": 80,
      "Command": "",
      "Custom Command": "No",
      "Custom Directory": "No",
      "Description": "Default",
      "Disable Window Resizing": true,
      "Draw Powerline Glyphs": true,
      "Flashing Bell": false,
      "Guid": "{{ (ansible_hostname ~ terminal__profile_name) | to_uuid }}",
      "Initial Use Transparency": {{ (terminal__transparency | float > 0) | ternary('true','false') }},
      "Idle Code": 0,
      "Initial Use Transparency": true,
      "Mouse Reporting": true,
      "Name": "{{ terminal__profile_name }}",
      "Normal Font": "{{ terminal__font }}",
      "Screen": {{ terminal__choose_screen }},
      "Option Key Sends": 0,
      "Right Option Key Sends": 0,
      "Scrollback Lines": 0,
      "Send Code When Idle": false,
      "Set Local Environment Vars": false,
      "Shortcut": "",
      "Show Offscreen Command line": false,
      "Show Status Bar": false,
      "Silence Bell": true,
      "Terminal Type": "xterm-256color",
      "Thin Strokes": 1,
      "Title Components": 1,
      "Transparency": {{ terminal__transparency | float }},
      "Unicode Normalization": 0,
      "Unicode Version": 9,
      "Unlimited Scrollback": true,
      "Use Separate Colors for Light and Dark Mode": {{ terminal__seperate_color_darklight | bool | lower }},
      "Visual Bell": true,
      "Window Type": {{ terminal__window_type }}
    }
  ]
}
